# visual studio unwanted project-related files
*.suo

# ciri temp and build files
ciri/tmp
ciri/lib

# test temp and build files
test/tmp
test/bin/*.exe
test/bin/*.ilk
test/bin/*.pdb
test/bin/*.iobj
test/bin/*.ipdb

# doxygen html output
docs/html

# sublime text workspace
*.sublime-workspace

# texture comparison file I want to keep but not upload
texture_comparisons.psd
